<div class="header">
    <div class="logo">
        <h1>E-Shop</h1>
    </div>
    <div class="search">
        <input class="input" type="text">        <button mat-raised-button color="warn" class="m-1">Search</button>

    </div>
    <div class="menu">
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['/seller']">Seller</a></li>
            <li><a [routerLink]="['/seller']">Login</a></li>
            <li><a [routerLink]="['/seller']">Cart(0)</a></li>
          
        </ul>
    </div>
</div>
